<script lang="ts">
	import { setLocale } from '$lib/i18n/i18n-svelte';

	// TODO: load locales (https://github.com/ivanhofer/typesafe-i18n/tree/main/packages/generator#loading-locales)

	import { loadLocaleAsync } from '$lib/i18n/i18n-util.async';
	import { i18nObject } from '$lib/i18n/i18n-util';

	let LL;

	const switchLocale = async (locale) => {
		await loadLocaleAsync(locale);
		LL = i18nObject(locale);
	};

	/** @type { import('./$types').LayoutData } */
	export let data;
	setLocale(data.locale);
</script>

<slot />
<!-- HTML markup -->
